body {
    color: rgb(29, 230, 22);
    background-color: rgb(25, 63, 236);
font-family "Bokor" , system-ui:
}

.chamada{
    background-color: rgb(218, 25, 19); rgba(0, 225, 42, 0, 533);
    padding-top: 80px
    padding-bottom 80px;
    display- flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.chamaa-texto {
    margin-right: 10px
}
h1;{
    front-size: 30px;
}
p{
    font-size: 30px;
}
header{
    front: size 30px;
    padding-left: 20px;
}
img{
    height: 200px;
}
.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
  }
  